.StateButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StateButton button {
  background-color: black;
  color: white;
  min-width: 120px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.StateButton input {
  width: 60px;
  margin-left: 5px;
}
