.PropsButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PropsButton button {
  background-color: black;
  color: white;
  min-width: 120px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
